
html{
    font-size: 12px;
}
.container{
    padding: 100px;
}

#drawingCanvas{
    border:1px solid gray;
}
#slider{
    width: 463px;
}
#square{
    width: 30px;
    height: 30px;
    background: red;
    position: relative;
    cursor: pointer;
    margin-bottom: 20px;
}
.square{
    width: 30px;
    height: 30px;
    background: red;
    position: relative;
    cursor: pointer;
    margin-bottom: 20px;
}
input[type="radio"]{
    margin-left: 20px;
    clear: both;
}
